*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 239, 239);
}
#hamburger{
    display: none;
}
.navbar{
    height: 70px;
    width: 100%;
    background-color: rgb(247, 239, 239);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px 0 50px ;
    box-shadow: 2px 10px 50px gray ;
    position: fixed;
    z-index: 5;
    margin-top: -71px;
}
.container{padding-top: 71px;}
.menu{
    display: flex;
}
.menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu ul li{
    margin-right: 20px;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: bold;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.home a{
    padding: 10px;
}
.home a:hover{
    background-color: #00A5E3;
    color: white;
    border-radius: 20px;
    transition: 0.2s;
}
.news a:hover{
    background-color: #FF60A8;
    color: white;
    border-radius: 20px;
    transition: 0.2s;

}
#active a{
    background-color: #FF60A8;
    color: white;
    border-radius: 20px;

}
.news a{
    padding: 10px;
}
.gallery a:hover{
    background-color: #FC6238;
    color: white;
    border-radius: 20px;
    transition: 0.2s;

}
.gallery a{
    padding: 10px;
}
.group a:hover{
    background-color: #0065A2;
    color: white;
    border-radius: 20px;
    transition: 0.2s;

}
.group a{
    padding: 10px;
}
.for_parents a:hover{
    background-color: red;
    color: white;
    border-radius: 20px;
    transition: 0.2s;

}
.for_parents a{
    padding: 10px;
}
.contact a:hover{
    background-color: #74737A;
    color: white;
    border-radius: 20px;
    transition: 0.2s;

}
.contact     a{
    padding: 10px;
}
.logo-image{
    height: 100%;
}
.logo{
    height: 100% !important;
    padding: 10px;
}
.cover_image{
    background-image: url("./spring.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    opacity: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cover_image p{
    font-size: 50px;
    opacity: 100%;
    color: black;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content_contianer{
    width: 60%;
    padding: 50px 0px 50px 0;
}

.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 98.7vw;
    background-color: rgb(51, 49, 49);
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-info-logo{
    width: 20%;
    height: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #bbb;
    padding: 10px;
}
.footer-info-logo img{
    width: 100%;
    height: 35% !important;
}
.footer-info-informations{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-info-map{
    width: 10%;
    height: 50%;
}
.footer-infocard{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}
.footer-info-informations-cards{
    display: flex;
    flex-direction: column;
}
.footer-card-content p a{
    text-decoration: none;
    color: white;
}
.footer-icon{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.footer-icon .fas{
    font-size: 30px;
    color: #00A5E3;
}
.footer-icon .far{
    font-size: 50px;
    color: #00A5E3;
}
.footer-card-content p{
    font-family: sans-serif;
    color: white;
}
.footer-card-content h3{
    font-weight: bold;
    font-family: sans-serif;
    color: #00A5E3;
}
.footer-info-informations h2{
    font-family: sans-serif;
    color: white;
}
.footer_copyright{
    height: 40px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #bbb;
}
.wrappers a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    background-color:#318CCA;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .wrappers a span{
    position: relative;
    z-index: 2;
  }
  
  .wrappers  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(133, 132, 132);
    transition: all .35s;
  }
  
  .wrappers a:hover{
    color: black;
  }
  
  .wrappers a:hover:after{
    width: 100%;
  }
.content p{
  font-size: 18px;
}
.wrapper a span{
    position: relative;
    z-index: 2;
  }
.wrapper a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    background-color:orange;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .wrapper a span{
    position: relative;
    z-index: 2;
  }
  
  .wrapper  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(133, 132, 132);
    transition: all .35s;
  }
  
  .wrapper a:hover{
    color: black;
  }
  
  .wrapper a:hover:after{
    width: 100%;
  }
  .wrapper a:hover{
    color: black;
  }
  
  .wrapper a:hover:after{
    width: 100%;
  }