@media only screen and (max-width:956px){
    #hamburger{
        display: block;
        font-size: 28px;
        cursor: pointer;
    }
    .menu{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .menu ul{
        display: flex;
        margin-top: 0px;
        width: 100%;
        text-align: center;
        position: fixed;
        left: 0;
        background-color: rgb(95, 93, 93);
        display: none;
        padding: 20px;
        gap: 30px;
        height: 100%;
        
    }
    .mobileScreen ul{
        display: block;
    }
    .home{
        margin-bottom: 20px;
    }
    .home a{
        cursor: none;
    }
    .news{
        margin-bottom: 20px;
    }
    .group{
        margin-bottom: 20px;
    }
    .gallery{
        margin-bottom: 20px;
    }
    .for_parents{
        margin-bottom: 20px;
    }
    .contact{
        margin-bottom: 20px;
    }
    .menu ul li a{
        color: white;
    }
    label{
        
        margin-left: 100%;
        padding-right: 40px;
    }
    .infocards{
        flex-direction: row;
        gap: 20px 0px;
    }
    .container{
        width: 100%;
    }
    .about-tekst{
        align-items: flex-start;
        gap: 20px;
    }
    .tree-windows{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .first{
        width: 65%;
    }
    .second{
        width: 65%;
    }
    .third{
        width: 65%;
    }
    ul{
        width: 100%;
        text-align: center;
        top: 71px;
        transition:  all 0.5s;
        display: block;
    }
    .menu ul li a{
        font-size: 30px;
    }
    li{
        width: 100%;
    }
    .menu ul li a:hover , .menu ul li  a.active{
        color: white;

    }
    .about-tekst{
        flex-direction: column;
    }
    .about-first{
        width: 100%;
    }
    .about-second{
        width: 100%;
    }
    .footer-info{
        flex-direction: column;
        align-items: center;
    }
    .footer-info-logo{
        width: auto;
    }
    .footer-info{
        align-items: center;
        gap: 20px;
    }
    .footer-card-content h3{
        font-size: 16px;
        text-align: center;
    }
    .footer-card-content{
        align-items: center;
    }
    .footer-info-map{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-info-informations{
        align-items: center;
    }
    .footer-info-informations-cards{
        align-items: center;
    }
    .footer-infocard{
        display: flex;
        align-items: center;
    }
    .wrapper a{
        margin-left: 0px;
        width: 150px;
    }
    .footer-info{
        width: 100vw;
    }
}
@media only screen and (max-width:500px){
    .navbar{
        padding: 0px;
        width: 100%;
    }
    .tree-windows{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .about-tekst{
        flex-direction: column;
    }
    .naslov_o_skoli{
        font-size: 35px;
    }
    .footer-info{
        flex-direction: column;
    }
    .first{
        width: 60%;
    }
    .second{
        width: 60%;
    }
    .third{
        width: 60%;
    }
    .infocards{
        margin-top: -20px;
    }
    .about-first{
        width: auto;
    }
    .about-second{
        width: auto;
    }
    .naslovi{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .footer-info-logo{
        width: auto;
    }
    .footer-info{
        align-items: center;
        gap: 20px;
    }
    .footer-card-content h3{
        font-size: 16px;
        text-align: center;
    }
    .footer-card-content{
        align-items: center;
    }
    .footer-info-map{
        width: 100%;
    }
    .footer-info-informations{
        align-items: center;
    }
    .footer-info-informations-cards{
        align-items: center;
    }
    .footer-infocard{
        display: flex;
        align-items: center;
    }
    .slideshow-container img{
        height: 30vh !important;
        width: 100vw;
        overflow: hidden;
    }
    .wrapper a{
        margin-left: 0px;
    }
    .f-image img{
        width: 100%;
    }
}

